nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--brand-green);
  height: 56px;
  color: var(--brand-white);
  li {
    list-style: none;
  }
}

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid black;
  width: 100%;

  img {
    width: 80%;
  }
}

.headingdiv {
  width: 426px;

  h1 {
    margin-bottom: 16px;
  }
  h4 {
    margin-bottom: 24px;
  }
}

.button-seondary {
  width: 100%;
  color: var(--brand-green);
  border: 1px solid var(--brand-green);
  background-color: var(--brand-white);
}
.button-primary {
  width: 100%;
  color: var(--brand-white);

  background-color: var(--brand-green);
}
