.app-container {
  // width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  // border: 1px solid black;
  padding: 16px;
  max-width: 1200px;

  img {
    // max-width: 326px;
    width: 100%;
  }
}

.headingdiv {
  // max-width: 326px;
  width: 100%;

  h1 {
    margin-bottom: 16px;
  }
  h4 {
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    padding: 1rem;
  }
}

.button-seondary {
  color: var(--brand-green);
  border: 1px solid var(--brand-green);
  background-color: var(--brand-white);
}
.button-primary {
  color: var(--brand-white);
  background-color: var(--brand-green);
}

@media only screen and (min-width: 1000px) {
  .container {
    margin: 0 auto;
    // gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 32px;
    align-items: center;
    // justify-content: space-between;
    img {
      width: 100%;
    }
  }
  .headingdiv {
    max-width: 426px;
  }
}
